@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

.content {
  height: 100vh;
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black var(--top-mask-size, 0),
    black calc(100% - var(--bottom-mask-size, 0)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black var(--top-mask-size, 0),
    black calc(100% - var(--bottom-mask-size, 0)),
    transparent 100%
  );
  --top-mask-size: 0px;
  --bottom-mask-size: 0px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Classes that control fading */
.content.is-top-overflowing {
  --top-mask-size: 48px !important;
}

.content.is-bottom-overflowing {
  --bottom-mask-size: 48px !important;
}

@media screen and (max-width: 640px) {
  .content {
    width: 100%;
    margin: 0 auto; /* Optional: centers the content */
  }
}
