@import "tailwindcss";

@theme {
  --font-playpen: "Playpen Sans", "cursive";
}
body {
  background-color: #f7e5e3;
}

.perspective {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

&::-webkit-scrollbar-track {
  background-color: #f7e5e3;
}

&::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f7e5e3;
}

&::-webkit-scrollbar-thumb {
  background-color: #b791a2;
}

&:hover,
&:active,
&:focus {
  &::-webkit-scrollbar-thumb {
    background-color: #b791a2;
  }
}
